<mat-toolbar color="primary" role="heading">
    <span>CLEMESSY</span>
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/variable/list">Variables</a>
    <a mat-button routerLink="/variable/add">Ajouter une var</a>


    <span *ngIf="user?.isConnected; else connexion">Bonjour {{user?.name}}</span>
    <button mat-button (click)="logout()">Se déconnecter</button>
    <ng-template #connexion>
        <a mat-button routerLink="/auth/login">Connexion</a>
    </ng-template>
    <!--
    <ng-container *ngIf="user; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
        <span>Bonjour {{user?.name}}</span>
    </ng-template>
    <ng-template #elseTemplate>
        <a mat-button routerLink="/auth/login">Connexion</a>
    </ng-template>
-->

</mat-toolbar>